/*
245 154  83 F59A53 Pumpkin dark
250 176  99 FAB063 Pumpkin light
 76 241 214 4B8DD6 Jeans Dark
*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
  background-color: #4B8DD6;
  color: white;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding: 10px;
}

.icon {
  width: 32px;
  height: 32px;
}

body {
  margin:0;
  font-family: Helvetica;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B8DD6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

ul.navbar li a:hover:not(.active) {
    background-color: #F59A53;
    color: white;
}

ul.navbar .active {
    background-color: #F59A53;
}

ul.navbar .float-right {
    float: right;
}

ul.navbottom {
    top: auto;
    bottom: 0;
    height: 44px;
}

.body {
  margin-top: 44px;
  margin-bottom: 44px;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}




*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 340px;
  margin: 10px auto;
  padding: 10px 10px 0px 10px;
  background: #f4f7f8;
  border-radius: 8px;
}

h2 {
  margin: 0 0 5px 0;
  text-align: center;
  color: #4B8DD6;
}

input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 12px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
  color: #F59A53;
}

input[type="password"]::-webkit-input-placeholder {
  color: #F59A53;
  font-style: italic;
}

button {
  padding: 5px 0px 5px 0px;
  color: #FFF;
  background-color: #4B8DD6;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #4B8DD6;
  margin-bottom: 10px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  color: #4B8DD6;
}

.challengeTable table, 
.challengeTable th, 
.challengeTable td{
    border: 1px solid black;
    border-collapse: collapse;
}

.challengeTable th{
    background-color: #4B8DD6;
    color: white;    
}

.challengeTable td {
    padding-left: 10px;
    padding-right: 10px;
}

.challengeTable th{
    padding: 10px;
}
