/*
245 154  83 F59A53 Pumpkin dark
250 176  99 FAB063 Pumpkin light
 76 241 214 4B8DD6 Jeans Dark
*/

:root {
    --pumpkin-dark:  #F59A53;
    --pumpkin-light: #FAB063;
    --jeans-dark:    #4B8DD6;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.textPumpkingDark,
.textPumpkingDark a:link,
.textPumpkingDark a:visited,
.textPumpkingDark a:hover,
.textPumpkingDark a:active {
  color: var(--pumpkin-dark)
}

.textPumpkingLight,
.textPumpkingLight a:link,
.textPumpkingLight a:visited,
.textPumpkingLight a:hover,
.textPumpkingLight a:active {
  color: var(--pumpkin-light)
}

.textJeansDark,
.textPumpkingLight a:link,
.textPumpkingLight a:visited,
.textPumpkingLight a:hover,
.textPumpkingLight a:active {
  color: var(--jeans-dark)
}

body {
  margin:0;
  font-family: Helvetica;
}

div.nav {
  width: 100%;
  height: 44px;
}

.icon {
  width: 32px;
  height: 32px;
}

ul.navbar {
    z-index:1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--jeans-dark);
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
}

ul.navbar li {
    float: left;
}

ul.navbar li .logo {
  height: 100%;
  padding-left: 10;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

ul.navbar li a:hover:not(.active) {
    background-color: var(--pumpkin-dark);
    color: white;
}

ul.navbar li.active {
    background-color: var(--pumpkin-dark);
}

ul.navbar li.float-right {
    float: right;
}

ul.navbottom {
    top: auto;
    bottom: 0px;
    height: 44px;
}

.content {
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  background: #F4F7f8;
  border-radius: 8px;
}

.form {
  min-width: 300px;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 10px 0px 10px;
  background: #F4F7f8;
  border-radius: 8px;
}

.formTitle {
  margin: 0;
  text-align: center;
  color: var(--pumpkin-dark);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="email"]
{
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 12px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 4px;
  width: 100%;
  background-color: #E8EEEF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 6px;
  color: var(--pumpkin-dark);
}

input[type="password"]::-webkit-input-placeholder {
  color: var(--pumpkin-dark);
  font-style: italic;
}

/*input:-webkit-autofill {
    background-color: rgba(255, 255, 255, 0.1) !important;
}*/

.button {
  padding: 5px 0px 5px 0px;
  color: #FFFFFF;
  background-color: var(--jeans-dark);
  border: 1px solid var(--jeans-dark);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.buttonSlim {
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  background-color: var(--jeans-dark);
  border: 1px solid var(--jeans-dark);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.buttonJeans {
  background-color: var(--jeans-dark);
  border: 1px solid var(--jeans-dark);
}

.buttonPumpkinDark {
  background-color: var(--pumpkin-dark);
  border: 1px solid var(--pumpkin-dark);
}

fieldset {
  border: none;
}

.labelFor {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--jeans-dark);
}

table {
  margin: 20px auto;
  min-width: 300px;
  border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
  background-color: var(--jeans-dark);
  color: white;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding: 10px;
}

td.header {
  background-color: var(--jeans-dark);
  color: white;
}

td.empty {
  background-color: inherit;
  border: 0px #FFFFFF;
}

.bodyContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.bodyContent {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (max-width: 600px) {
    ul.navbar, ul.navbottom {
        width: 100%;
        height: auto;
    }

    ul.navbar li.float-right {
      float: left;
    }

    ul.navbar li .logo {
      display: none;
    }
}
