<html>
<head>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
 <body>
  <h1>Your challenges</h1>
  <h2> <a href="/create_challenge"> Create a new challenge </a></h2>
    {% for result in results %}
      <div>
      <table>
        <th>
          <tr>
            <th> Challenged </th>
            <th> Challenger </th>
          </tr>
          <tr>
            <td>
              <table>
                <thead>
                  <tr>
                    <td> Title </td>
                    <td> Date </td>
                    <td> Distance </td>
                    <td> AVG Speed </td>
                    <td> Time </td>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td> {{ results[result][0].name }} </td>
                      <td> {{ results[result][0].start_date }}</td>
                      <td> {{ results[result][0].distance }}</td>
                      <td> {{ results[result][0].average_speed }}
                      <td> {{ results[result][0].elapsed_time }}</td>
                    </tr>
                </tbody>
              </table>
            </td>
            <td> 
              <table>
                <thead>
                  <tr>
                    <td> Title </td>
                    <td> Date </td>
                    <td> Distance </td>
                    <td> AVG Speed </td>
                    <td> Time </td>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      {% if result[1] is not none %}
                      <td> {{ results[result][1].name }}</td>
                      <td> {{ results[result][1].start_date }}</td>
                      <td> {{ results[result][1].distance }}</td>
                      <td> {{ results[result][1].average_speed }}</td>
                      <td> {{ results[result][1].elapsed_time }}</td>
                      {% endif %}
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </th>
      </table>
      <form action="{{ url_for('user_challenge.complete_challenge') }}" method="post">
      {% if results[result][1] is not none %}
        Result: 
          {% if result.result %}
            <p> Great job! </p>
          {% else %}
            <p> You Lost! </p>
          {% endif %}
      {% else %}
           <input type="hidden" name="id_challenge" value={{result.id}} />
            <a href="#" onclick="document.forms[{{result.id}}-1].submit()">  Complete the challenge </a>
      {% endif %}
      </form>
    <h1></h1>
    </div>
    {% endfor %}
 </body>
</html>

