<html>
<head>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
 <body>
  <h1>Your challenges</h1>
  <h2> <a href="/create_challenge"> Create a new challenge </a></h2>
    {% for result in results %}
    <table class="challengeTable" style="width: 100%">
      <tr>
        <th style="width:50%">Challenges</th>
        <th>Title</th>
        <th>Date</th>
        <th>Distance</th>
        <th>AVG Speed</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
      <tr>
        <td> Challenged </td>
        <td>{{ results[result][0].name }}</td>
        <td>{{ results[result][0].start_date }}</td>
        <td>{{ results[result][0].distance }}</td>
        <td>{{ results[result][0].average_speed }}</td>
        <td>{{ results[result][0].elapsed_time }}</td>
        <td rowspan="3" class="text-center"> <a href="{{url_for('user_challenge.complete_challenge', id_challenge=result.id)}}""> <img class="icon" src="{{url_for('static', filename='view.png')}}"/> </a></td> 
      </tr>
      {% if result[1] is not none %}
      <tr>
        <td> Challenger </td>
        <td>{{ results[result][1].name }}</td>
        <td>{{ results[result][1].start_date }}</td>
        <td>{{ results[result][1].distance }}</td>
        <td>{{ results[result][1].average_speed }}</td>
        <td>{{ results[result][1].elapsed_time }}</td>
      </tr>
      {%endif%}
      <tr>
        <td>Result: </td>
      {% if results[result][1] is not none %}
          {% if result.result %}
            <td colspan="5">Great job! </td>
          {% else %}
            <td colspan="5">You Lost! </td>
          {% endif %}
      {% else %}
           <td colspan="5"><a href="{{url_for('user_challenge.complete_challenge', id_challenge=result.id)}}"">Complete the challenge </a></td>
      {% endif %}
    </tr>
    </table>      
    <h1></h1>
    </div>
    {% endfor %}
 </body>
</html>

