  </div>
  <ul class="navbar navbottom">
    <li><a href="https://github.com/MFranceschi6">Matteo Franceschi</a></li>
    <li><a href="https://github.com/edoBaldini">Edoardo Baldini</a></li>
    <li><a href="https://github.com/Albertomac">Alberto Ottimo</a></li>
    <li><a href="https://github.com/deselmo">William Guglielmo</a></li>
    <li><a href="https://github.com/DanyEle">Daniele Gadler</a></li>
    <li><a href="https://github.com/lorenz944">Lorenzo Casalini</a></li>
    <li><a href="https://github.com/SuperNabla95">Francesco Tosoni</a></li>
    <li><a href="https://github.com/Polletz">Riccardo Paoletti</a></li>
    <li><a class="float-right" href="https://github.com/MFranceschi6/BeepBeepPrimer">Butter Group S.R.L.</a></li>
  </ul>
</body>
