<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
  <ul class="navbar">
    <li><a href="{{url_for('home.index')}}">Home</a></li>
    <li><a href="#">Training Objectives</a></li>
    <li><a href="#">Compare Run</a></li>
    <li><a href="#">Statistics</a></li>
    {% if current_user.is_authenticated %}
      <li class="float-right"><a href="{{url_for('auth.logout')}}">Logout</a></li>
      {% if not current_user.strava_token %}
        <li class="float-right"><a href="{{strava_auth_url}}">Authorize Strava Access</a></li>
      {% else %}
        <li class="float-right"><a href="{{url_for('strava.fetch_runs')}}">Fetch new Runs</a></li>
      {% endif %}
      <li class="float-right"><a>Hi {{current_user.email}}, GO TO RUN BITCH ! </a></li>
    {% else %}
      <li class="float-right"><a href="{{url_for('users.create_user')}}">Register</a></li>
      <li class="float-right"><a href="{{url_for('auth.login')}}">Login</a></li>
    {% endif %}
  </ul>
  <div class="body">
