<h1>Runnerly</h1>

{% if current_user.is_authenticated %}
    Hi {{ current_user.email }}! <a href="/logout">Log out</a> <a href="/remove_user">Delete Account</a>

  {% if not current_user.strava_token %}
    <a href="{{strava_auth_url}}">Authorize Strava Access</a>
  {% else %}
    {% if total_average_speed %}
      <h2>Average speed of all your run</h2>
      <p>{{total_average_speed}} m/s</p>
    {% endif %}

    <h2>Your last 10 runs</h2>
    {% for run in runs%}
      <a href={{url_for('runs.run', id=run.id)}}>
      {{run.name}}
      </a>
    {% endfor %}
  {% endif %}

{% else %}
  Hi Anonymous, <a href="/login">Log in</a> <a href="/create_user">Create user</a>
{% endif %}
