<html>
{% include 'header.html' %}

    {% if current_user.is_authenticated %}

      {% if total_average_speed %}
        <h2 class="textJeansDark text-center">Average speed of all your run</h2>
        <h3 class="textPumpkingDark text-center">{{total_average_speed}} m/s</h3>
      {% endif %}

      <h2 class="textJeansDark text-center">Your last 10 runs</h2>
      <table>
        <thead>
          <tr>
            <th>Run name</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for run in runs%}
          <tr>
            <td> {{run.name}} </td>
            <td class="text-center">
              <a href="{{url_for('runs.run', id=run.id)}}"">
                <img class="icon" src="{{url_for('static', filename='view.png')}}"/>
              </a>
            </td>
            <form action="{{ url_for('user_challenge.create_challenge') }}" method="post">
              <input type="hidden" name="id_run" value={{run.id}} />
              <td class="text-center">
                <a href="#" onclick="document.forms[{{loop.index}}-1].submit()">
                  <img class="icon" src="{{url_for('static', filename='challenge.png')}}"/>
                </a>
              </td>
            </form> 
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <h1 class="textPumpkingDark"> Hi Anonymous</h1>
      <h3 class="textJeansDark"> Please Login or Register </h3>
    {% endif %}
    </div>
  </div>
  
{% include 'footer.html' %}
</html>

