<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='landing-page.css') }}">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
  type="text/css">


<body>
  {% include 'header.html' %}
  {% if current_user.is_authenticated %}
  <div class="intro-header">
    <div class="container">
      <div class="row">
        {% if not current_user.strava_token %}
        <a href="{{strava_auth_url}}">Authorize Strava Access</a>
        {% else %}
        <h2>Your last 10 runs</h2>
        <form action="/comparisons" method="post">
          {% for run in runs%}
          <div>
            <input type="checkbox" name="runs" value="{{run.id}}">
            <a href="/runs/{{run.id}}">{{run.name}}</a>
          </div>
          {% endfor %}
          <br />
          {% if comparisonError %}
          <p style="color: red">
            {{comparisonError}}
          </p>
          {% endif %}
          <input type="submit" value="Compare" />
        </form>
        <button onclick="location.href='/objective'" type="button">Set Objective</button>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <h2>Stats</h2>
      <p>Total average speed: <span id="avgSpd">{{avgSpeed}}</span> km/h</p>
      <p>Total running time: <span id="minsec">{{ '%0.0f' | format(minutes) }}' {{ '%0.0f' | format(sec)}}''</span></p>
      {% endif %}
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <h2>Objective</h2>
      <p>Distance objective: <span id="obj_dist">{{objective_distance}}</span> km</p>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <h2>Progress</h2>
      <p>Total distance achieved: <span id="tot_dist">{{ '%0.2f'| format(tot_distance)}}</span> km</p>
      <p>Remaining: <span id="rem_KM">{{ '%0.2f'| format(remaining_KM)}}</span> km</p>
      <p>Percentage: <span id="perc">{{ '%0.2f'| format(percentage)}}</span> %</p>
    </div>
  </div>
  </div>

  {% else %}
  <div class="intro-header" style="height: 100%;">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>

  {% endif %}
</body>

</html>
