<html>
{% include 'header.html' %}

<form action="" method="POST">
  {{ form.hidden_tag() }}
  <h2 class="formTitle">Login</h2>

  <fieldset>
    {% for field in form.display %}
      <label for="{{ field }}">{{ form[field].label }}</label>
      {{ form[field] }}
      {% if form[field].errors %}
        {% for e in form[field].errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}

  </fieldset>
  <button type="submit">Login</button>

</form>

{% include 'footer.html' %}
</html>