<html>

<body>
    <h1>Objectives</h1>
    <ul>
        {% for objective in objectives: %}
        <li id="objective_{{objective.id}}">
            <div id="objective_{{objective.id}}_name">{{objective.name}}</div>
            <div>Start date: <span id="objective_{{objective.id}}_start_date">{{objective.start_date}}</span></div>
            <div>End date: <span id="objective_{{objective.id}}_end_date">{{objective.end_date}}</span></div>
            <div>Target Distance: <span id="objective_{{objective.id}}_target_distance">{{objective.target_distance}}</span></div>
            <div>Completition: <span id="objective_{{objective.id}}_completition">{{objective.completition()}}</span></div>
            <div>Runner:
                <div>
                    <span id="objective_{{objective.id}}_runner_id">{{objective.runner.id}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
