<html>
{% include 'header.html' %}

<form action="" method="POST">
  {{ form.hidden_tag() }}
  <h2 class="formTitle">Profile Info</h2>

  <fieldset>
    {% for field in form.display %}
      <label for="{{ field }}">{{ form[field].label }}</label>
      {{ form[field] }}
      {% if form[field].errors %}
        {% for e in form[field].errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}

  </fieldset>
  <button type="submit">Update Profile</button>

</form>

{% include 'footer.html' %}
</html>


<!-- <html>
{% include 'header.html' %}
<form action="" method="POST">
  <div class="divTable profileTable">
    <div class="divTB">
        {{ form.hidden_tag() }}
        {% for field in form.display %}
          <div class="divTR">
            <div class="divTD text-right">{{ form[field].label }}</div>
            <div class="divTD">
              {{ form[field](class_='profileInputText') }}
              {% if form[field].errors %}
                {% for e in form[field].errors %}
                  <p class="help-block">{{ e }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
          <div class="divTR">
          <div class="divTD"></div>
          <div class="divTD"><input type="submit" value="Update Profile"></div>
        </div>
      
    </div>
  </div>
  </form>
{% include 'footer.html' %}
</html>
 -->