<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yellow Beep Beep</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <h2>Beep Beep</h2>
          <li><a href="main.html">Home</a></li>
          <li class="active"><a href="run.html">Run</a></li>
          <li><a href="objective.html">Objective</a></li>
          <li><a href="dataUser.html"><span class="glyphicon glyphicon-user"></span>User data</a></li>
          <li><a href="logout.html"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
    <div class="container">
      {% if run is none %}
        {% for errmess in get_flashed_messages(False,['error']) %}
          {{ errmess }}
        {% endfor%}
      {% else %}
        <h1>Run {{run.name}}</h1>
        <ul>
          <li>Start date: <span id="start_date">{{run.start_date}}</span></li>
          <li>Distance: <span id="distance">{{run.distance}} meters </span></li>
          <li>Elapsed time: <span id="elapsed_time">{{run.elapsed_time // 60 }} minutes</span></li>
          <li>Avg. speed: <span id="average_speed">{{run.average_speed}} meters/seconds</span></li>
          <li>Avg. heartrate: <span id="average_heartrate">{{run.average_heartrate}} bps</span></li>
          <li>Elevation gain: <span id="total_elevation_gain">{{run.total_elevation_gain}} meters</span></li>
        </ul>
      {% endif %}
    </div>
  </body>
</html>
